@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

/*
gris #6C7680
#57616B
#737F8B
jaune #F4BE00
beige #E6E0D9
noir #11131F
bleu #0088a9
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************  HEADER ********************/

.nav__li,
.nav__button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  background-color: #43484d;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li button {
  transition: all 0.3s ease 0s;
}

.nav__button {
  padding: 9px 25px;
  background-color: rgba(244, 190, 0, 0.9);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__button:hover {
  background-color: rgba(0, 136, 169, 0.5);
}

/************************************/
